.todo-item {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;

    &.complete {
        text-decoration: line-through;
        color: var(--ui-secondary);
    }

    .todo-list-button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:disabled {
            color: var(--ui-secondary) !important;
        }
    }

    .delete-button {
        color: var(--ui-warn);
    }

    .check-btn {
        transition: color 0.1s ease-in-out;

        &.status-0 {
            color: var(--fg);
        }

        &.status-1 {
            color: var(--ui-in-progress);
        }

        &.status-2 {
            color: var(--ui-secondary);
        }
    }

    .misc-info {
        font-size: 0.7em;
        opacity: 0.6;
        font-style: italic;
        padding-top: 2px;
    }
}
