.todo-item {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;

    .todo-list-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .delete-button {
        color: var(--ui-warn);
    }

    .check-btn {
        &.status-0 {
            color: var(--fg);
        }
    }
}
