.btn {
    transition: border-color 0.1s ease-in-out;
    background-color: transparent;
    color: white;
    border: 2px solid var(--ui-secondary);
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    &:hover {
        border-color: white;
    }
}

.btn:disabled {
    color: var(--ui-secondary) !important;
    border-color: var(--ui-secondary) !important;
    cursor: default !important;

    &:hover {
        color: var(--ui-secondary) !important;
    }
}

.btn-primary {
    color: var(--ui-primary);
    &:hover {
        border-color: var(--ui-primary);
    }
}
