@use "alert";
@use "btn";
@use "input";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --ui-primary: rgb(67, 223, 137);
    --ui-secondary: #7e7e7e;
    --ui-in-progress: rgb(216, 179, 15);
    --ui-warn: #e74747;
    --bg: #333;
    --bg-dark: #222;
    --fg: #fff;
}

* {
    box-sizing: border-box;
    font-size: 1em;
}

body,
html {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: var(--bg);
    color: var(--fg);
}

.main-container {
    padding-top: 60px;
}

.flex-spacer {
    flex-grow: 1;
}

.loading {
    text-align: center;
    font-size: 2em;
    opacity: 0.6;
}
