@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --ui-primary: rgb(67, 223, 137);
    --ui-secondary: #7e7e7e;
    --ui-in-progress: rgb(216, 179, 15);
    --ui-warn: #e74747;
    --bg: #333;
    --fg: #fff;
}

* {
    box-sizing: border-box;
    font-size: 1em;
}

html {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}
